.footer {
  background-image: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
  display: flex;
  justify-content: space-around;
  height: 150px;
  padding: 30px;
  width: 100%;
}

.footer__col {
  color: white;
  opacity: 0.8;

  width: 20%;
}

.footer__col > p {
  margin: 10px 0;
}

.footer__col > p > a {
  text-decoration: none;
  color: white;
}
